<h2 mat-dialog-title>Edit debtor {{debtor.name | uppercase}} {{debtor.lastname | uppercase}} </h2>
<mat-dialog-content>
  <form [formGroup]="debtorEditForm">
    <label>Name</label>
    <input formControlName="name" type="text" class="form-control" placeholder="name">
    <label>Last Name</label>
    <input formControlName="lastname" type="text" class="form-control" placeholder="last name">
    <label>Age</label>
    <input formControlName="age" type="text" class="form-control" placeholder="age">
    <label>Debt</label>
    <input formControlName="debt" type="text" class="form-control" placeholder="debt">
    <label>Location</label>
    <input formControlName="location" type="text" class="form-control" placeholder="location">
  </form>
  <button class="btn btn-dark" (click)="updateDebtor(data.id)" mat-dialog-close>Update</button>
</mat-dialog-content>
