<div class="table-responsive">
  <table class="table table-striped table-sm table-dark">
    <thead>
    <tr>
      <th>PSEUDONYM</th>
      <th>SALARY</th>
      <th>DELETE</th>
      <th>EDIT</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let killer of killers; let i = index">
      <td> {{killer.pseudonym}} </td>
      <td> {{killer.salary}} </td>
      <td >
        <button class="btn btn-sm btn-outline-danger" (click)="deleteKiller(killer)" >Delete</button>
      </td>
      <td >
        <button class="btn btn-sm btn-outline-light" (click)="openEditDialog(killer)" >Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-dark" (click)="openAddDialog()" >Add killer</button>
</div>
