<h2 mat-dialog-title>Edit killer {{killer.pseudonym | uppercase}}</h2>
<mat-dialog-content>
  <form [formGroup]="killerEditForm">
    <label>Pseudonym</label>
    <input formControlName="pseudonym" type="text" class="form-control" placeholder="pseudonym">
    <label>Salary</label>
    <input formControlName="salary" type="text" class="form-control" placeholder="salary">
    <label>Location</label>
    <input formControlName="location" type="text" class="form-control" placeholder="location">
  </form>
  <button class="btn btn-dark" (click)="updateKiller(killer.id)" mat-dialog-close>Update</button>
</mat-dialog-content>
