<!-- nav -->
<nav *ngIf="currentUser" class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>

  </div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link logout" (click)="logout()">Logout</a>
    <a class="nav-item nav-tabs nav-link"> user: {{currentUser.login}}</a>
  </div>
</nav>

<!-- main app container -->
<div class="data-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
