<div class="dashboard-container">
  <div class="com-container">
    <div class="form">
      <button class="btn btn-dark"
              [class.btn-light]="editable"
              (click)="editable = !editable">
        {{editable && 'Done' || 'Edit'}}
      </button>
      <button class="btn btn-light"
              [hidden]="!editable"
              (click)="saveWidgets()"
      >
        Save layout
      </button>
      <div class="toggle-switch"
           [hidden]="!editable">
        <input type="checkbox"
               id="swapper"
               [(ngModel)]="swapWidgets">
        <label for="swapper">Swap Widgets</label>
      </div>
      <div class="toggle-switch">
        <input type="checkbox"
               id="grid"
               [(ngModel)]="showGrid">
        <label for="grid">Grid</label>
      </div>
      Rows: <b>{{rows}}</b>
      <div class="btn-group">
        <button class="btn btn-light"
                (click)="doRows(false)">
          -
        </button>
        <button class="btn btn-light"
                (click)="doRows(true)">
          +
        </button>
      </div>
      Cols: <b>{{cols}}</b>
      <div class="btn-group">
        <button class="btn btn-light"
                (click)="doCols(false)">
          -
        </button>
        <button class="btn btn-light"
                (click)="doCols(true)">
          +
        </button>
      </div>
    </div>

    <ngx-widget-grid [rows]="rows"
                     [columns]="cols"
                     [highlightNextPosition]="highlightNextPosition"
                     #grid
                     [showGrid]="showGrid"
                     (widgetPositionChange)="onWidgetChange($event)">
      <ngx-widget *ngFor="let widget of widgets"
                  [(position)]="widget.position"
                  [movable]="editable"
                  [resizable]="editable"
      >
        <div style="height:100%;width:100%; display:flex;">
          <div style="height:100%;width:100%; padding:10px; background-color: rgb(120,119,122);">
            <div id="scrollcontainer">
              <div *ngIf="widget.type == 0" class="card">
                <div class="card-header widget-title">
                  {{widget.options.title}}
                </div>
                <div class="card-body embed-responsive">
                  <app-debtor-list></app-debtor-list>
                </div>
              </div>



            <div *ngIf="widget.type == 1" class="card">
              <div class="card-header widget-title">
                {{widget.options.title}}
              </div>
              <div class="card-body embed-responsive">
                <app-killers-list></app-killers-list>
              </div>
            </div>
            </div>

            <div *ngIf="widget.type == 2" class="card">
              <div class="card-header widget-title">
                {{widget.options.title}}
              </div>
              <div class="card-body embed-responsive">
                <app-map></app-map>
              </div>
            </div>

          </div>
        </div>
      </ngx-widget>

    </ngx-widget-grid>
  </div>
</div>
