@import "../../assets/styles/variables";

.no-killers-info {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: @blue;
  padding: 20px;
  background: @white;
}

.dashboard-container {
  margin: 60px 0px 0px 10px;
}
.com-container {
  margin: 0px 0px 0px 0px;
}

.widget-title {
  font-weight: 700;
  background: #434245;
  color: white;
}

.pre-scrollable {
  min-height: max-content;
  max-height: content-box;
}

#scrollcontainer {
  position: absolute;
  top: 8px; bottom: 8px; left: 8px; right: 8px;
  overflow: auto;
}

#scrollcontainer2 {
  position: absolute;
  top: 8px; bottom: 8px; left: 8px; right: 8px;
  overflow: auto;
}

.map {
  position: absolute;
  top: 8px; bottom: 8px; left: 8px; right: 8px;
}

